*{
  margin: 0;
  padding: 0;
}

body{

 
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 20;
  background-color: rgba(102, 0, 0, 0.9);

}

.loader {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 

}

.loader div {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.one {
  animation-name: upwards1;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.two {
  animation-name: upwards2;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.three {
  animation-name: upwards3;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.four {
  animation-name: upwards4;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes upwards1 {
  0% {
    bottom: 0px;
  }
  12.5% {
    bottom: 60px;
    background-color: #ffffff;
  }
  25% {
    bottom: 0px;
  }
  37.5% {
    bottom: 0px;
  }
  50% {
    bottom: 0px;
  }
  62.5% {
    bottom: 0px;
  }
  75% {
    bottom: 0px;
  }
  87.5% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes upwards2 {
  0% {
    bottom: 0px;
  }
  12.5% {
    bottom: 0px;
  }
  25% {
    bottom: 0px;
  }
  37.5% {
    bottom: 60px;
    background-color: #ffffff;
  }
  50% {
    bottom: 0px;
  }
  62.5% {
    bottom: 0px;
  }
  75% {
    bottom: 0px;
  }
  87.5% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes upwards3 {
  0% {
    bottom: 0px;
  }
  12.5% {
    bottom: 0px;
  }
  25% {
    bottom: 0px;
  }
  37.5% {
    bottom: 0px;
  }
  50% {
    bottom: 0px;
  }
  62.5% {
    bottom: 60px;
    background-color: #ffffff;
  }
  75% {
    bottom: 0px;
  }
  87.5% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes upwards4 {
  0% {
    bottom: 0px;
  }
  12.5% {
    bottom: 0px;
  }
  25% {
    bottom: 0px;
  }
  37.5% {
    bottom: 0px;
  }
  50% {
    bottom: 0px;
  }
  62.5% {
    bottom: 0px;
  }
  75% {
    bottom: 0px;
  }
  87.5% {
    bottom: 60px;
    background-color: #ffffff;
  }
  100% {
    bottom: 0px;
  }
}

/*---------------------------LOADER STYLES END/ TAGLINE STYLES START--------------------*/

/*#first{
  animation-name: slideup1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 1;
}

#second {
  animation-name: slideup2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 1;
}

#third{
  animation-name: slideup3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 1;  
}

#fourth{
  animation-name: slideup4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 1; 
}

#fifth{
  animation-name: slideup5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 1; 
}

@keyframes slideup1 {
  0% {
     transform: translatey(-40px);
    opacity: 1;
  }
  10% {
   transform: translatey(-80px);
    opacity: 0;
  }
  20% {
    
  }
  30% {
  }
  40% {
  }
  50% {
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
  }
}

@-webkit-keyframes slideup1 {
  0% {
    transform: translatey(-40px);
    opacity: 1;
  }
  10% {
     transform: translatey(-80px);
    opacity: 0;
  }
  20% {
   
  }
  30% {
  }
  40% {
  }
  50% {
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
  }
}

@keyframes slideup2 {
  0% {
  }
  10% {
  }
  20% {
    transform: translatey(-80px);
    opacity: 1;
  }
  30% {
    transform: translatey(-120px);
    opacity: 0;
  }
  40% {
  }
  50% {
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
  }
}

@-webkit-keyframes slideup2 {
  0% {
  }
  10% {
  }
  20% {
    transform: translatey(-80px);
    opacity: 1;
  }
  30% {
    transform: translatey(-120px);
    opacity: 0;
  }
  40% {
  }
  50% {
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
  }
}

@keyframes slideup3 {
  0% {
  }
  10% {
  }
  20% {
  }
  30% {
  }
  40% {
    transform: translatey(-120px);
    opacity: 1;
  }
  50% {
    transform: translatey(-160px);
    opacity: 0;
  }
  60% {
  }
  70% {
  }
  80% {
  }
  90% {
  }
  100% {
  }
}

@keyframes slideup4 {
  0% {
  }
  10% {
  }
  20% {
  }
  30% {
  }
  40% {
  }
  50% {
  }
  60% {
    transform: translatey(-160px);
    opacity: 1;
  }
  70% {
    transform: translatey(-200px);
    opacity: 0;
  }
  80% {
  }
  90% {
  }
  100% {
  }
}

@keyframes slideup5 {
  0% {
  }
  10% {
  }
  20% {
  }
  30% {
  }
  40% {
  }
  50% {
  }
  60% {
  }
  70% {
  }
  80% {
    transform: translatey(-200px);
    opacity: 1;
  }
  90% {
    transform: translatey(-240px);
    opacity: 0;
  }
  100% {
  }
}
